/*-----Part of the: Scroll Top Fader Plugin for WordPress-----*/

/*-----BASE-----*/
/*--Black--*/
#dme-scroll-to-top-a-black {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-a-black.png');
	}
#dme-scroll-to-top-b-black {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-b-black.png');
	}
#dme-scroll-to-top-c-black {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-c-black.png');
	}
#dme-scroll-to-top-d-black {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-d-black.png');
	}
#dme-scroll-to-top-e-black {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-e-black.png');
	}
#dme-scroll-to-top-f-black {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-f-black.png');
	}
/*--Gray--*/
#dme-scroll-to-top-a-gray {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-a-gray.png');
	}
#dme-scroll-to-top-b-gray {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-b-gray.png');
	}
#dme-scroll-to-top-c-gray {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-c-gray.png');
	}
#dme-scroll-to-top-d-gray {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-d-gray.png');
	}
#dme-scroll-to-top-e-gray {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-e-gray.png');
	}
#dme-scroll-to-top-f-gray {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-f-gray.png');
	}
/*--White--*/
#dme-scroll-to-top-a-white {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-a-white.png');
	}
#dme-scroll-to-top-b-white {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-b-white.png');
	}
#dme-scroll-to-top-c-white {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-c-white.png');
	}
#dme-scroll-to-top-d-white {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-d-white.png');
	}
#dme-scroll-to-top-e-white {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-e-white.png');
	}
#dme-scroll-to-top-f-white {
	display:none;
	outline:none;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-image: url('../images/up-50-f-white.png');
	}
@media screen and (min-width: 1367px) and (max-width: 1680px) {
/*--Black--*/
#dme-scroll-to-top-a-black {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-a-black.png');
	}
#dme-scroll-to-top-b-black {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-b-black.png');
	}
#dme-scroll-to-top-c-black {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-c-black.png');
	}
#dme-scroll-to-top-d-black {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-d-black.png');
	}
#dme-scroll-to-top-e-black {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-e-black.png');
	}
#dme-scroll-to-top-f-black {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-f-black.png');
	}
/*--Gray--*/
#dme-scroll-to-top-a-gray {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-a-gray.png');
	}
#dme-scroll-to-top-b-gray {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-b-gray.png');
	}
#dme-scroll-to-top-c-gray {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-c-gray.png');
	}
#dme-scroll-to-top-d-gray {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-d-gray.png');
	}
#dme-scroll-to-top-e-gray {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-e-gray.png');
	}
#dme-scroll-to-top-f-gray {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-f-gray.png');
	}
/*--White--*/
#dme-scroll-to-top-a-white {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-a-white.png');
	}
#dme-scroll-to-top-b-white {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-b-white.png');
	}
#dme-scroll-to-top-c-white {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-c-white.png');
	}
#dme-scroll-to-top-d-white {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-d-white.png');
	}
#dme-scroll-to-top-e-white {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-e-white.png');
	}
#dme-scroll-to-top-f-white {
	height:45px;
	width:45px;
	background-size: 45px 45px;
	background-image: url('../images/up-45-f-white.png');
	}
}
@media screen and (min-width: 1025px) and (max-width: 1366px) {
/*--Black--*/
#dme-scroll-to-top-a-black {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-a-black.png');
	}
#dme-scroll-to-top-b-black {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-b-black.png');
	}
#dme-scroll-to-top-c-black {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-c-black.png');
	}
#dme-scroll-to-top-d-black {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-d-black.png');
	}
#dme-scroll-to-top-e-black {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-e-black.png');
	}
#dme-scroll-to-top-f-black {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-f-black.png');
	}
/*--Gray--*/
#dme-scroll-to-top-a-gray {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-a-gray.png');
	}
#dme-scroll-to-top-b-gray {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-b-gray.png');
	}
#dme-scroll-to-top-c-gray {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-c-gray.png');
	}
#dme-scroll-to-top-d-gray {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-d-gray.png');
	}
#dme-scroll-to-top-e-gray {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-e-gray.png');
	}
#dme-scroll-to-top-f-gray {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-f-gray.png');
	}
/*--White--*/
#dme-scroll-to-top-a-white {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-a-white.png');
	}
#dme-scroll-to-top-b-white {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-b-white.png');
	}
#dme-scroll-to-top-c-white {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-c-white.png');
	}
#dme-scroll-to-top-d-white {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-d-white.png');
	}
#dme-scroll-to-top-e-white {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-e-white.png');
	}
#dme-scroll-to-top-f-white {
	height:40px;
	width:40px;
	background-size: 40px 40px;
	background-image: url('../images/up-40-f-white.png');
	}
}
@media screen and (min-width: 721px) and (max-width: 1024px) {
/*--Black--*/
#dme-scroll-to-top-a-black {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-a-black.png');
	}
#dme-scroll-to-top-b-black {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-b-black.png');
	}
#dme-scroll-to-top-c-black {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-c-black.png');
	}
#dme-scroll-to-top-d-black {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-d-black.png');
	}
#dme-scroll-to-top-e-black {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-e-black.png');
	}
#dme-scroll-to-top-f-black {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-f-black.png');
	}
/*--Gray--*/
#dme-scroll-to-top-a-gray {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-a-gray.png');
	}
#dme-scroll-to-top-b-gray {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-b-gray.png');
	}
#dme-scroll-to-top-c-gray {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-c-gray.png');
	}
#dme-scroll-to-top-d-gray {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-d-gray.png');
	}
#dme-scroll-to-top-e-gray {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-e-gray.png');
	}
#dme-scroll-to-top-f-gray {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-f-gray.png');
	}
/*--White--*/
#dme-scroll-to-top-a-white {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-a-white.png');
	}
#dme-scroll-to-top-b-white {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-b-white.png');
	}
#dme-scroll-to-top-c-white {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-c-white.png');
	}
#dme-scroll-to-top-d-white {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-d-white.png');
	}
#dme-scroll-to-top-e-white {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-e-white.png');
	}
#dme-scroll-to-top-f-white {
	height:35px;
	width:35px;
	background-size: 35px 35px;
	background-image: url('../images/up-35-f-white.png');
	}
}
@media screen and (max-width: 720px) {
/*--Black--*/
#dme-scroll-to-top-a-black {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-a-black.png');
	}
#dme-scroll-to-top-b-black {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-b-black.png');
	}
#dme-scroll-to-top-c-black {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-c-black.png');
	}
#dme-scroll-to-top-d-black {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-d-black.png');
	}
#dme-scroll-to-top-e-black {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-e-black.png');
	}
#dme-scroll-to-top-f-black {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-f-black.png');
	}
/*--Gray--*/
#dme-scroll-to-top-a-gray {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-a-gray.png');
	}
#dme-scroll-to-top-b-gray {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-b-gray.png');
	}
#dme-scroll-to-top-c-gray {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-c-gray.png');
	}
#dme-scroll-to-top-d-gray {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-d-gray.png');
	}
#dme-scroll-to-top-e-gray {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-e-gray.png');
	}
#dme-scroll-to-top-f-gray {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-f-gray.png');
	}
/*--White--*/
#dme-scroll-to-top-a-white {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-a-white.png');
	}
#dme-scroll-to-top-b-white {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-b-white.png');
	}
#dme-scroll-to-top-c-white {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-c-white.png');
	}
#dme-scroll-to-top-d-white {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-d-white.png');
	}
#dme-scroll-to-top-e-white {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-e-white.png');
	}
#dme-scroll-to-top-f-white {
	height:30px;
	width:30px;
	background-size: 30px 30px;
	background-image: url('../images/up-30-f-white.png');
	}
}